// Variables
$darkgreen: #173305;
$lightgreen: #4ba928;
$darkred: #bb2528;
$orange: #ea4630;
$yellow: #f8b229;

// Global Style
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Media Query */
@mixin medium {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin big {
  @media only screen and (min-width: 1220px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}

@import '../components/Navbar/_navbar';
@import '../components/SignupForm/_signupForm';
@import '../components/LoginForm/loginForm';
