// @import "../components/Navbar/_Navbar"


html,
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  line-height: 1.8rem;
  height: 100vh;
  box-sizing: border-box;
  background-color: $antiqueWhite;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}